{{ if not .Values.config.configmap.name }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: agent-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "venafi-kubernetes-agent.labels" . | nindent 4 }}
data:
  config.yaml: |-
    cluster_id: {{ .Values.config.clusterName | quote }}
    cluster_description: {{ .Values.config.clusterDescription | quote }}
    server: {{ .Values.config.server | quote }}
    period: {{ .Values.config.period | quote }}
    venafi-cloud:
      uploader_id: "no"
      upload_path: "/v1/tlspk/upload/clusterdata"
    data-gatherers:
    # gather k8s apiserver version information
    - kind: "k8s-discovery"
      name: "k8s-discovery"
    # pods data is used in the pods and application_versions packages
    - kind: "k8s-dynamic"
      name: "k8s/pods"
      config:
        resource-type:
          resource: pods
          version: v1
    - kind: "k8s-dynamic"
      name: "k8s/namespaces"
      config:
        resource-type:
          resource: namespaces
          version: v1
    # gather services for pod readiness probe rules
    - kind: "k8s-dynamic"
      name: "k8s/services"
      config:
        resource-type:
          resource: services
          version: v1
    # gather higher level resources to ensure data to determine ownership is present
    - kind: "k8s-dynamic"
      name: "k8s/deployments"
      config:
        resource-type:
          version: v1
          resource: deployments
          group: apps
    - kind: "k8s-dynamic"
      name: "k8s/replicasets"
      config:
        resource-type:
          version: v1
          resource: replicasets
          group: apps
    - kind: "k8s-dynamic"
      name: "k8s/statefulsets"
      config:
        resource-type:
          version: v1
          resource: statefulsets
          group: apps
    - kind: "k8s-dynamic"
      name: "k8s/daemonsets"
      config:
        resource-type:
          version: v1
          resource: daemonsets
          group: apps
    - kind: "k8s-dynamic"
      name: "k8s/jobs"
      config:
        resource-type:
          version: v1
          resource: jobs
          group: batch
    - kind: "k8s-dynamic"
      name: "k8s/cronjobs"
      config:
        resource-type:
          version: v1
          resource: cronjobs
          group: batch
    - kind: "k8s-dynamic"
      name: "k8s/ingresses"
      config:
        resource-type:
          group: networking.k8s.io
          version: v1
          resource: ingresses
    - kind: "k8s-dynamic"
      name: "k8s/secrets"
      config:
        resource-type:
          version: v1
          resource: secrets
        {{- with .Values.config.ignoredSecretTypes }}
        field-selectors:
        {{- range . }}
        - type!={{ . }}
        {{- end }}
        {{- end }}
    - kind: "k8s-dynamic"
      name: "k8s/certificates"
      config:
        resource-type:
          group: cert-manager.io
          version: v1
          resource: certificates
    - kind: "k8s-dynamic"
      name: "k8s/certificaterequests"
      config:
        resource-type:
          group: cert-manager.io
          version: v1
          resource: certificaterequests
    - kind: "k8s-dynamic"
      name: "k8s/issuers"
      config:
        resource-type:
          group: cert-manager.io
          version: v1
          resource: issuers
    - kind: "k8s-dynamic"
      name: "k8s/clusterissuers"
      config:
        resource-type:
          group: cert-manager.io
          version: v1
          resource: clusterissuers
    - kind: "k8s-dynamic"
      name: "k8s/googlecasissuers"
      config:
        resource-type:
          group: cas-issuer.jetstack.io
          version: v1beta1
          resource: googlecasissuers
    - kind: "k8s-dynamic"
      name: "k8s/googlecasclusterissuers"
      config:
        resource-type:
          group: cas-issuer.jetstack.io
          version: v1beta1
          resource: googlecasclusterissuers
    - kind: "k8s-dynamic"
      name: "k8s/awspcaissuer"
      config:
        resource-type:
          group: awspca.cert-manager.io
          version: v1beta1
          resource: awspcaissuers
    - kind: "k8s-dynamic"
      name: "k8s/awspcaclusterissuers"
      config:
        resource-type:
          group: awspca.cert-manager.io
          version: v1beta1
          resource: awspcaclusterissuers
    - kind: "k8s-dynamic"
      name: "k8s/mutatingwebhookconfigurations"
      config:
        resource-type:
          group: admissionregistration.k8s.io
          version: v1
          resource: mutatingwebhookconfigurations
    - kind: "k8s-dynamic"
      name: "k8s/validatingwebhookconfigurations"
      config:
        resource-type:
          group: admissionregistration.k8s.io
          version: v1
          resource: validatingwebhookconfigurations
    - kind: "k8s-dynamic"
      name: "k8s/gateways"
      config:
        resource-type:
          group: networking.istio.io
          version: v1alpha3
          resource: gateways
    - kind: "k8s-dynamic"
      name: "k8s/virtualservices"
      config:
        resource-type:
          group: networking.istio.io
          version: v1alpha3
          resource: virtualservices
    - kind: "k8s-dynamic"
      name: "k8s/routes"
      config:
        resource-type:
          version: v1
          group: route.openshift.io
          resource: routes
    - kind: "k8s-dynamic"
      name: "k8s/venaficlusterissuers"
      config:
        resource-type:
          group: jetstack.io
          version: v1alpha1
          resource: venaficlusterissuers
    - kind: "k8s-dynamic"
      name: "k8s/venafiissuers"
      config:
        resource-type:
          group: jetstack.io
          version: v1alpha1
          resource: venafiissuers
    - kind: "k8s-dynamic"
      name: "k8s/fireflyissuers"
      config:
        resource-type:
          group: firefly.venafi.com
          version: v1
          resource: issuers
{{- end }}
