{
  "region": "us-east-1",
  "dr_region": "us-east-2",
  "subdomain": "venafi-test",
  "platform_id": "platform-123",
  "identity_id": "identity-456",
  "default_url": "https://venafi-test.integration-cyberark.cloud",
  "tenant_flags": {
    "is_crdr_supported": "true",
    "is_crdr_active": "true"
  },
  "services": [
    {
      "service_name": "data_privacy",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui.dataprivacy.integration-cyberark.cloud/",
          "api": "https://us-east-1.dataprivacy.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "secrets_manager",
      "region": "us-east-2",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui.test-conjur.cloud",
          "api": "https://venafi-test.secretsmgr.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "idaptive_risk_analytics",
      "region": "US-East-Pod",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ajp5871-my.analytics.idaptive.qa",
          "api": "https://ajp5871-my.analytics.idaptive.qa"
        }
      ]
    },
    {
      "service_name": "component_manager",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-connectormanagement.connectormanagement.integration-cyberark.cloud",
          "api": "https://venafi-test.connectormanagement.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "recording",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://us-east-1.rec-ui.recording.integration-cyberark.cloud",
          "api": "https://venafi-test.recording.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "identity_user_portal",
      "region": "US-East-Pod",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ajp5871.id.integration-cyberark.cloud",
          "api": "https://ajp5871.id.integration-cyberark.cloud"
        }
      ]
    },
    {
      "service_name": "userportal",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://us-east-1.ui.userportal.integration-cyberark.cloud/",
          "api": "https://venafi-test.api.userportal.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "cloud_onboarding",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-cloudonboarding.cloudonboarding.integration-cyberark.cloud/",
          "api": "https://venafi-test.cloudonboarding.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "identity_administration",
      "region": "US-East-Pod",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ajp5871.id.integration-cyberark.cloud",
          "api": "{{ .Identity.API }}"
        }
      ]
    },
    {
      "service_name": "adminportal",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-adminportal.adminportal.integration-cyberark.cloud",
          "api": "https://venafi-test.adminportal.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "analytics",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://venafi-test.analytics.integration-cyberark.cloud/",
          "api": "https://venafi-test.analytics.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "session_monitoring",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://us-east-1.sm-ui.sessionmonitoring.integration-cyberark.cloud",
          "api": "https://venafi-test.sessionmonitoring.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "audit",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui.audit-ui.integration-cyberark.cloud",
          "api": "https://venafi-test.audit.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "fmcdp",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://tagtig.io/",
          "api": "https://tagtig.io/api"
        }
      ]
    },
    {
      "service_name": "featureadopt",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-featureadopt.featureadopt.integration-cyberark.cloud/",
          "api": "https://us-east-1-featureadopt.featureadopt.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "discoverycontext",
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-inventory.inventory.integration-cyberark.cloud/",
          "api": "{{ .DiscoveryContext.API }}"
        }
      ]
    }
  ]
}

{
  "region": "America East",
  "dr_region": null,
  "subdomain": "tlskp-test",
  "tenant_id": "8f08a102-58ca-49cd-960e-debc5e0d3cd4",
  "identity_id": "anb5751",
  "default_url": null,
  "tenant_flags": {
    "is_crdr_supported": false,
    "is_crdr_active": false
  },
  "services": [
    {
      "service_name": "data_privacy",
      "service_subdomains": [
        "data_privacy",
        "dataprivacy"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui.data-privacy.integration-cyberark.cloud/",
          "api": "https://us-east-1.data-privacy.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "idaptive_risk_analytics",
      "service_subdomains": [
        "idaptive_risk_analytics",
        "idsecanalytics",
        "idaptiveriskanalytics"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://anb5751-my.analytics.idaptive.qa",
          "api": "https://anb5751-my.analytics.idaptive.qa"
        }
      ]
    },
    {
      "service_name": "component_manager",
      "service_subdomains": [
        "component_manager",
        "componentmanager"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-connectormanagement.connectormanagement.integration-cyberark.cloud",
          "api": "https://tlskp-test.connectormanagement.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "itdr",
      "service_subdomains": [
        "itdr"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-itdr.itdr.integration-cyberark.cloud/",
          "api": "https://tlskp-test.itdr.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "identity_user_portal",
      "service_subdomains": [
        "identity_user_portal",
        "identityuserportal",
        "idusrportal"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://anb5751.id.integration-cyberark.cloud",
          "api": "https://anb5751.id.integration-cyberark.cloud"
        }
      ]
    },
    {
      "service_name": "userportal",
      "service_subdomains": [
        "userportal"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://us-east-1.ui.userportal.integration-cyberark.cloud/",
          "api": "https://tlskp-test.api.userportal.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "ekp",
      "service_subdomains": [
        "ekp"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-tlskp-test.ekp.integration-cyberark.cloud/",
          "api": "https://tlskp-test.ekp.integration-cyberark.cloud/"
        }
      ]
    },
    {
      "service_name": "itdruba",
      "service_subdomains": [
        "itdruba"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-itdruba.itdruba.integration-cyberark.cloud/",
          "api": "https://tlskp-test.itdruba.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "cloud_onboarding",
      "service_subdomains": [
        "cloud_onboarding",
        "cloudonboarding"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-cloudonboarding.cloudonboarding.integration-cyberark.cloud",
          "api": "https://tlskp-test.cloudonboarding.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "identity_administration",
      "service_subdomains": [
        "identity_administration",
        "idadmin",
        "identityadministration"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://anb5751.id.integration-cyberark.cloud",
          "api": "{{ .Identity.API }}"
        }
      ]
    },
    {
      "service_name": "adminportal",
      "service_subdomains": [
        "adminportal"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-adminportal.adminportal.integration-cyberark.cloud",
          "api": "https://tlskp-test.adminportal.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "intelligence",
      "service_subdomains": [
        "intelligence"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-intelligence.intelligence.integration-cyberark.cloud/",
          "api": "https://tlskp-test.intelligence.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "discoverycontext",
      "service_subdomains": [
        "discoverycontext",
        "inventory"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-inventory.inventory.integration-cyberark.cloud/",
          "api": "{{ .DiscoveryContext.API }}"
        }
      ]
    },
    {
      "service_name": "license",
      "service_subdomains": [
        "license"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-license.license.integration-cyberark.cloud/",
          "api": "https://tlskp-test.license.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "flows",
      "service_subdomains": [
        "flows",
        "idflows"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://anb5751.flows.integration-cyberark.cloud",
          "api": "https://anb5751.flows.integration-cyberark.cloud"
        }
      ]
    },
    {
      "service_name": "audit",
      "service_subdomains": [
        "audit"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui.audit-ui.integration-cyberark.cloud",
          "api": "https://tlskp-test-us-east-1.audit.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "chat",
      "service_subdomains": [
        "chat"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://platform-chat-ui.platform.chat.integration-cyberark.cloud/",
          "api": "https://tlskp-test.platform.chat.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "fmcdp",
      "service_subdomains": [],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://tagtig.io/",
          "api": "https://tagtig.io/api"
        }
      ]
    },
    {
      "service_name": "uniguidance",
      "service_subdomains": [
        "uniguidance"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-uniguidance.uniguidance.integration-cyberark.cloud/",
          "api": "https://tlskp-test.uniguidance.integration-cyberark.cloud/api"
        }
      ]
    },
    {
      "service_name": "featureadopt",
      "service_subdomains": [
        "featureadopt"
      ],
      "region": "us-east-1",
      "endpoints": [
        {
          "is_active": true,
          "type": "main",
          "ui": "https://ui-featureadopt.featureadopt.integration-cyberark.cloud/",
          "api": "https://us-east-1-featureadopt.featureadopt.integration-cyberark.cloud/api"
        }
      ]
    }
  ],
  "tenant_urls": null
}
