apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "disco-agent.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "disco-agent.labels" . | nindent 4 }}
data:
  config.yaml: |-
    cluster_name: {{ .Values.config.clusterName | quote }}
    cluster_description: {{ .Values.config.clusterDescription | quote }}
    period: {{ .Values.config.period | quote }}
    {{- with .Values.config.excludeAnnotationKeysRegex }}
    exclude-annotation-keys-regex:
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    {{- with .Values.config.excludeLabelKeysRegex }}
    exclude-label-keys-regex:
      {{- . | toYaml | nindent 6 }}
    {{- end }}
    data-gatherers:
    - kind: oidc
      name: ark/oidc
    - kind: k8s-discovery
      name: ark/discovery
    - kind: k8s-dynamic
      name: ark/secrets
      config:
        resource-type:
          version: v1
          resource: secrets
        field-selectors:
        - type!=kubernetes.io/dockercfg
        - type!=kubernetes.io/dockerconfigjson
        - type!=bootstrap.kubernetes.io/token
        - type!=helm.sh/release.v1
    - kind: k8s-dynamic
      name: ark/serviceaccounts
      config:
        resource-type:
          resource: serviceaccounts
          version: v1
    - kind: k8s-dynamic
      name: ark/roles
      config:
        resource-type:
          version: v1
          group: rbac.authorization.k8s.io
          resource: roles
    - kind: k8s-dynamic
      name: ark/clusterroles
      config:
        resource-type:
          version: v1
          group: rbac.authorization.k8s.io
          resource: clusterroles
    - kind: k8s-dynamic
      name: ark/rolebindings
      config:
        resource-type:
          version: v1
          group: rbac.authorization.k8s.io
          resource: rolebindings
    - kind: k8s-dynamic
      name: ark/clusterrolebindings
      config:
        resource-type:
          version: v1
          group: rbac.authorization.k8s.io
          resource: clusterrolebindings
    - kind: k8s-dynamic
      name: ark/jobs
      config:
        resource-type:
          version: v1
          group: batch
          resource: jobs
    - kind: k8s-dynamic
      name: ark/cronjobs
      config:
        resource-type:
          version: v1
          group: batch
          resource: cronjobs
    - kind: k8s-dynamic
      name: ark/deployments
      config:
        resource-type:
          version: v1
          group: apps
          resource: deployments
    - kind: k8s-dynamic
      name: ark/statefulsets
      config:
        resource-type:
          version: v1
          group: apps
          resource: statefulsets
    - kind: k8s-dynamic
      name: ark/daemonsets
      config:
        resource-type:
          version: v1
          group: apps
          resource: daemonsets
    - kind: k8s-dynamic
      name: ark/pods
      config:
        resource-type:
          version: v1
          resource: pods
    - kind: k8s-dynamic
      name: ark/configmaps
      config:
        resource-type:
          resource: configmaps
          version: v1
        label-selectors:
        - conjur.org/name=conjur-connect-configmap
    - kind: k8s-dynamic
      name: ark/esoexternalsecrets
      config:
        resource-type:
          group: external-secrets.io
          version: v1
          resource: externalsecrets
    - kind: k8s-dynamic
      name: ark/esosecretstores
      config:
        resource-type:
          group: external-secrets.io
          version: v1
          resource: secretstores
    - kind: k8s-dynamic
      name: ark/esoclusterexternalsecrets
      config:
        resource-type:
          group: external-secrets.io
          version: v1beta1
          resource: clusterexternalsecrets
    - kind: k8s-dynamic
      name: ark/esoclustersecretstores
      config:
        resource-type:
          group: external-secrets.io
          version: v1beta1
          resource: clustersecretstores
