# if changing this name, also update promotion.yaml
name: test

on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  vet:
    name: vet
    runs-on: ubuntu-22.04
    container: golang:1.19
    steps:
    - uses: actions/checkout@v3
    - run: make vet
      shell: bash
  test:
    name: go test
    runs-on: ubuntu-22.04
    container: golang:1.19
    steps:
    - uses: actions/checkout@v3
    - run: make test
  docker_build:
    name: docker_build
    runs-on: ubuntu-22.04
    container:
      image: docker:23
      options: -t
    # Setting up dind service container
    services:
      docker:
        image: docker:23-dind
        env:
          DOCKER_DRIVER: overlay
          DOCKER_HOST: tcp://localhost:2375
    steps:
    - name: Install Tools
      run: apk add --update make git jq rsync curl
    - name: Adding github workspace as safe directory
      # See issue https://github.com/actions/checkout/issues/760
      run: git config --global --add safe.directory $GITHUB_WORKSPACE
    - uses: actions/checkout@v3
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
      with:
        driver-opts: image=moby/buildkit:master
    - name: Build images
      run: make build-docker-image
    - name: Sign
      run: make sign-docker-image
    - name: SBOM
      run: make sbom-docker-image
