{
  "apiVersion": "v1",
  "kind": "List",
  "metadata": {
    "resourceVersion": "",
    "selfLink": ""
  },
  "items": [
    {
      "apiVersion": "v1",
      "kind": "Pod",
      "metadata": {
        "annotations": {},
        "labels": {
          "app": "example"
        },
        "name": "example-6d94489854-zpzhr",
        "namespace": "example",
        "ownerReferences": [
          {
            "apiVersion": "apps/v1",
            "blockOwnerDeletion": true,
            "controller": true,
            "kind": "ReplicaSet",
            "name": "example-6d94489854",
            "uid": "bb6c0f31-0e28-4c28-a81d-91b8d7bfed33"
          }
        ],
        "resourceVersion": "32023849",
        "selfLink": "/api/v1/namespaces/example/pods/example-6d94489854-zpzhr",
        "uid": "efff9dae-28ca-42c3-be70-970731c44f67"
      },
      "spec": {
        "nodeName": "control-plane",
        "containers": [
          {
            "name": "example",
            "command": [
              "sh",
              "-c"
            ],
            "image": "{{ .URL }}/jetstack/example:v1.0.0"
          }
        ]
      },
      "status": {
        "containerStatuses": [
          {
            "name": "example",
            "imageID": "is set"
          }
        ]
      }
    }
  ]
}
